<div>
    <div class="toggle"><a routerLink="/nova">+</a></div>
    <div class="right-row">
        <h5>Categorias</h5>
        <a href="#">Lorem ipsum dolor</a>
        <a href="#">Lorem ipsum dolor</a>
        <a href="#">Lorem ipsum dolor</a>
        <a href="#">Lorem ipsum dolor</a>
        <h5 id="t-search">Procurando alguma notícia?</h5>
        <input type="text" placeholder="Pesquisar por..." id="search">
    </div>
    <div class="left-row">
        <div *ngFor="let post of posts | async" class="card">
            <img src="assets/images/banner-covid.jpg" alt="">
            <h4> {{ post.title}} </h4>
            <p>{{ post.body }}</p>
            <a href="#">Ler mais</a>
        </div>
    </div>
</div>
